// Details
//--------
.js-details-container {
  .content {
    display: none;
    &.hide { display: block; }
  }
  &.open .content {
    display: block;
    &.hide { display: none; }
  }
}

// Toggle between two states.
.js-toggler-container {
  .turn-on { display: block; }
  .turn-off { display: none; }
  &.on {
    .turn-on { display: none; }
    .turn-off { display: block; }
  }
}


[v-cloak] {
  display: none;
}
